<div class="box">
  <h1>Đăng nhập hệ thống Teacher</h1>

  <div class="flex">
    <div class="image">
      <img src="https://scontent.fsgn13-4.fna.fbcdn.net/v/t39.30808-6/302734247_557485666170045_8943503754184512498_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=LkVkiY4yqFAAX-yfWo_&_nc_ht=scontent.fsgn13-4.fna&oh=00_AfD_2kq-nXux0DwfxKfBXmWeyjsuwFqtC5m-9K0LjOd6fw&oe=6413A8C9" alt="">

    </div>

    <div>
      <!-- <form  #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">

        <input type="password" class="form-control" name="password"  placeholder="Password"
        [(ngModel)]="password" required #password="ngModel">


        <button type="submit">
          Đăng nhập
        </button>

      </form> -->
    </div>


  </div>

  <div>


  </div>

</div>
